{% set position = 'footer' %}

<div class="footer">
	{% include '_header.html' %}
	<footer class="main-footer wrapper row">
		<div class="main-footer__widget main-footer__widget_copyright">
			<span class="widget-text">
				© 2019 Все права защищены. SportIsland
			</span>
		</div>
		<div class="main-footer__widget">
			<p class="widget-contact-mail">
				Если у вас возникли вопросы, пожалуйста свяжитесь с нами по почте <a href="mailto:sportisland@gmail.ru">sportisland@gmail.ru</a>
			</p>
		</div>
		<div class="main-footer__widget">
			<a href="#" class="widget-social-links">
				<span class="sr-only">
					Мы в Facebook!
				</span>
			</a>
			<a href="#" class="widget-social-links">
				<span class="sr-only">
					Мы в VK!
				</span>
			</a>
			<a href="#" class="widget-social-links">
				<span class="sr-only">
					Мы в YouTube!
				</span>
			</a>
			<a href="#" class="widget-social-links">
				<span class="sr-only">
					Мы в Instagram!
				</span>
			</a>
		</div>
	</footer>
</div>

<script src="./js/js.js"></script>
</body>
</html>