{% set position = 'footer' %}

<div class="modal">
	<div class="wrapper">
		<button class="modal__closer">
			<span class="sr-only">Закрыть</span>
		</button>
		<section class="modal-content" id="modal-form">
			<h2 class="modal-content__h">
				Modal
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum labore aut, necessitatibus possimus eligendi. Molestiae dolore consectetur eveniet sit doloremque blanditiis cumque recusandae pariatur cum est tenetur nemo nostrum unde, architecto praesentium necessitatibus, repellendus eos voluptatibus quam. Iusto eaque eligendi inventore sunt voluptas deleniti enim quae, nobis tempora, cum atque ab aspernatur at eius ipsam beatae iure corporis veritatis ducimus, qui sed. Necessitatibus eaque quis, numquam. Aliquam animi ipsum autem repellat incidunt dolorem qui, dignissimos ullam nisi, numquam, nam excepturi quam voluptas. Molestias, nobis quos dicta unde quod. Quos harum atque fugit nihil totam, alias sapiente officia cumque obcaecati ipsam.
			</p>
		</section>
	</div>
</div>

<div class="footer">
	{% include '_header.html' %}
	<footer class="main-footer wrapper">
		<div class="row main-footer__row">
			<div class="main-footer__widget main-footer__widget_copyright">
				<span class="widget-text">
					© 2019 Все права защищены. SportIsland
				</span>
			</div>
			<div class="main-footer__widget">
				<p class="widget-contact-mail">
					Если у вас возникли вопросы, пожалуйста свяжитесь с нами по почте <a href="mailto:sportisland@gmail.ru">sportisland@gmail.ru</a>
				</p>
			</div>
			<div class="main-footer__widget main-footer__widget_social">
				<a href="#" class="widget-social-links fb">
					<span class="sr-only">
						Мы в Facebook!
					</span>
				</a>
				<a href="#" class="widget-social-links vk">
					<span class="sr-only">
						Мы в VK!
					</span>
				</a>
				<a href="#" class="widget-social-links youtube">
					<span class="sr-only">
						Мы в YouTube!
					</span>
				</a>
				<a href="#" class="widget-social-links insta">
					<span class="sr-only">
						Мы в Instagram!
					</span>
				</a>
			</div>
		</div>
	</footer>
</div>

<script src="./js/js.js"></script>
</body>
</html>