{% set position = 'footer' %}

<div class="modal">
	<div class="wrapper">
		<button class="modal__closer">
			<span class="sr-only">Закрыть</span>
		</button>
		<section class="modal-content modal-form" id="modal-form">
			<form action="#" class="modal-form__form">
				<h2 class="modal-content__h">
					Отправить заявку
				</h2>
				<p>
					Оставьте свои контакты и менеджер с Вами свяжется
				</p>
				<p>
					<label>
						Имя: <br>
						<input type="text" name="si-user-name">
					</label>
				</p>
				<p>
					<label>
						Телефон: <br>
						<input type="text" name="si-user-phone">
					</label>
				</p>
				<button class="btn" type="submit">Отправить</button>
				<input type="hidden" name="action" value="si-modal-form">
			</form>
		</section>
	</div>
</div>

<div class="footer">
	{% include '_header.html' %}
	<footer class="main-footer wrapper">
		<div class="row main-footer__row">
			<div class="main-footer__widget main-footer__widget_copyright">
				<span class="widget-text">
					© 2019 Все права защищены. SportIsland
				</span>
			</div>
			<div class="main-footer__widget">
				<p class="widget-contact-mail">
					Если у вас возникли вопросы, пожалуйста свяжитесь с нами по почте <a href="mailto:sportisland@gmail.ru">sportisland@gmail.ru</a>
				</p>
			</div>
			<div class="main-footer__widget main-footer__widget_social">
				<a href="#" class="widget-social-links fb">
					<span class="sr-only">
						Мы в Facebook!
					</span>
				</a>
				<a href="#" class="widget-social-links vk">
					<span class="sr-only">
						Мы в VK!
					</span>
				</a>
				<a href="#" class="widget-social-links youtube">
					<span class="sr-only">
						Мы в YouTube!
					</span>
				</a>
				<a href="#" class="widget-social-links insta">
					<span class="sr-only">
						Мы в Instagram!
					</span>
				</a>
			</div>
		</div>
	</footer>
</div>

<script src="./js/js.js"></script>
</body>
</html>