{% set title = 'Блог' %}
{% include '_start.html' %}
{% include '_header.html' %}

<main class="main-content">
	<div class="wrapper">
		{% 
			set links = [
				{ url:'schedule.html', text: 'Расписание'}
			] 
		%}
		{% include '_breadcrumbs.html' %}
		<h1 class="main-heading schedule-page__h">расписание</h1>
		<div class="tabs">
			<ul class="tabs-btns">
			{% set days = [
				['Пн', 'mon'], 
				['Вт', 'tue'], 
				['Ср', 'wed'], 
				['Чт', 'thur'], 
				['Пт', 'fri'], 
				['Сб', 'sat'], 
				['Вс', 'sun'] 
			] %}
			{% for day in days %}
				{% if loop.index === 1 %}
					{% set active = " active-tab" %}
				{% else %}
					{% set active = "" %}
				{% endif %}
				<li class="tabs-btns__item{{active}}">
					<a href="#{{day[1]}}" class="tabs-btns__btn">
						{{day[0]}}
					</a>
				</li>
			{% endfor %}
			</ul>
			<ul class="tabs-content">
				<li class="tabs-content__item active-tab" id="mon">
					<h2 class="sr-only">
						Понедельник
					</h2>
					<ul class="schedule tabs-content__list" >
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
					</ul>
				</li>
				<li class="tabs-content__item" id="tue">
					<h2 class="sr-only">
						Вторник
					</h2>
					<ul class="schedule tabs-content__list" >
						<li class="schedule__item">
							<p class="schedule__time">
								10:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс ВТОРНИК
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
						<li class="schedule__item">
							<p class="schedule__time">
								07:00 - 22:00
							</p>
							<h2 class="schedule__h">
								Фитнесс
							</h2>
							<p class="schedule__trainer">
								с Литвиненко Ольгой
							</p>
							<p class="schedule__place">
								фитнесс зал
							</p>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</main>

{% include '_footer.html' %}