{% set title = 'Блог' %}
{% include '_start.html' %}
{% include '_header.html' %}

<main class="main-content">
	<div class="wrapper">
		{% 
			set links = [
				{ url:'schedule.html', text: 'Расписание'}
			] 
		%}
		{% include '_breadcrumbs.html' %}
		<h1 class="page-heading">расписание</h1>
		<div class="tabs">
			<ul class="tabs-btns">
			{% set days = [
				['Пн', 'mon'], 
				['Вт', 'tue'], 
				['Ср', 'wed'], 
				['Чт', 'thur'], 
				['Пт', 'fri'], 
				['Сб', 'sat'], 
				['Вс', 'sun'] 
			] %}
			{% for day in days %}
				<li class="tabs-btns__item">
					<a href="#{{day[1]}}" class="tabs-btns__btn">
						{{day[0]}}
					</a>
				</li>
			{% endfor %}
			</ul>
			<ul class="tabs-content">
				<li class="tabs-content__item">
					<table class="schedule tabs-content__table">
						<thead class="sr-only">
							<tr>
								<td colspan="4">
									<span class="sr-only">
										Понедельник
									</span>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<p class="schedule__time">
										07:00 - 22:00
									</p>
									<h2 class="schedule__h">
										Фитнесс
									</h2>
									<p class="schedule__trainer">
										с Литвиненко Ольгой
									</p>
									<p class="schedule__place">
										фитнесс зал
									</p>
								</td>
								<td>
									<p class="schedule__time">
										07:00 - 22:00
									</p>
									<h2 class="schedule__h">
										Фитнесс
									</h2>
									<p class="schedule__trainer">
										с Литвиненко Ольгой
									</p>
									<p class="schedule__place">
										фитнесс зал
									</p>
								</td>
								<td>
									<p class="schedule__time">
										07:00 - 22:00
									</p>
									<h2 class="schedule__h">
										Фитнесс
									</h2>
									<p class="schedule__trainer">
										с Литвиненко Ольгой
									</p>
									<p class="schedule__place">
										фитнесс зал
									</p>
								</td>
								<td>
									<p class="schedule__time">
										07:00 - 22:00
									</p>
									<h2 class="schedule__h">
										Фитнесс
									</h2>
									<p class="schedule__trainer">
										с Литвиненко Ольгой
									</p>
									<p class="schedule__place">
										фитнесс зал
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<p class="schedule__time">
										07:00 - 22:00
									</p>
									<h2 class="schedule__h">
										Фитнесс
									</h2>
									<p class="schedule__trainer">
										с Литвиненко Ольгой
									</p>
									<p class="schedule__place">
										фитнесс зал
									</p>
								</td>
								<td>
									<p class="schedule__time">
										07:00 - 22:00
									</p>
									<h2 class="schedule__h">
										Фитнесс
									</h2>
									<p class="schedule__trainer">
										с Литвиненко Ольгой
									</p>
									<p class="schedule__place">
										фитнесс зал
									</p>
								</td>
								<td>
									<p class="schedule__time">
										07:00 - 22:00
									</p>
									<h2 class="schedule__h">
										Фитнесс
									</h2>
									<p class="schedule__trainer">
										с Литвиненко Ольгой
									</p>
									<p class="schedule__place">
										фитнесс зал
									</p>
								</td>
								<td>
									<p class="schedule__time">
										07:00 - 22:00
									</p>
									<h2 class="schedule__h">
										Фитнесс
									</h2>
									<p class="schedule__trainer">
										с Литвиненко Ольгой
									</p>
									<p class="schedule__place">
										фитнесс зал
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</li>
			</ul>
		</div>
	</div>
</main>

{% include '_footer.html' %}