@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
@import '../../node_modules/slick-carousel/slick/slick-theme.less';
@import '../../node_modules/slick-carousel/slick/slick.less';

/* Set defaults */

.reset();

html,
body{
	box-sizing: border-box;
}

*:focus{
	outline: 1px solid @red;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	font-family: 'Montserrat', 'Open Sans', 'Arial', sans-serif;
	max-width: 1920px;
	color: #fff;
	margin: 0 auto;
	font-size: 16px;
	font-weight: @fNormal;
	line-height: 1.2;
	background-color: @bg;
}

::-webkit-scrollbar{
	width: 10px;
	height: 5px;
	background-color: #222;
}

::-webkit-scrollbar-thumb{
	border-radius: 2px;
	background-color: @scrollColor;
}

img,
video{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}

/* Atomic */

.d-n{
	display: none;
}

.d-b{
	display: block;
}

.d-f{
	display: flex;
}

.ttu{
	text-transform: uppercase;
}

.ta-c{
	text-align: center;
}

.ov-h{
	overflow: hidden;
}

.ov-s{
	overflow: scroll;
}

.black{
	color: #000;
}

/* Global */

.wrapper{
	.wrapper();
}

.row{
	.row-flex();
}

.col{
	.col();
}

.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn{
	appearance: none;
	display: inline-block;
	background-color: @red;
	color: #fff;
	border: none;
	text-align: center;
	font-weight: @fSemiBold;
	font-size: 18px;
	padding: 25px 40px;
	text-transform: uppercase;
	line-height: 1;
	&:hover,
	&:active,
	&:focus{
		background-color: #ae0b0b;
		transition: background-color @transT;
	}
}

.main-heading,
.page-heading{
	font-size: 48px;
	font-weight: @fBlack;
	color: #fff;
	text-transform: uppercase;
}

.page-heading{
	font-size: 36px;
}


.link-more{
	font-weight: @fSemiBold;
	font-size: 16px;
	padding-right: 35px;
	display: inline-block;
	color: @red;
	background-image: url(../img/icons/arrow_red.png);
	background-size: 21px 10px;
	background-repeat: no-repeat;
	background-position: right center;
	&:hover,
	&:active,
	&:focus{
		color: #fff;
		transition: color @transT;
		background-image: url(../img/icons/arrow_white.png);
	}
	&_inverse{
		background-image: url(../img/icons/arrow_black.png);
	}
}

.price{
	font-size: 48px;
	font-weight: @fBold;
	color: #fff;
	&__unit{
		color: #999999;
		font-size: 18px;
		font-weight: @fNormal;
	}
}

.inner .main-content{
	background-image: url(../img/inner_bg.jpg);
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 140px;
	padding-bottom: 140px;
}

.inner .cards{
	background-image: unset;
	&__h{
		margin-bottom: 45px;
	}
}

.like{
	padding-left: 20px;
	background-image: url(../img/svg/like.svg);
	background-size: 15px;
	background-position: left center;
	background-repeat: no-repeat;
}

/* General */

@import './_header.less';
@import './_widgets.less';
@import './_footer.less';
@import './_breadcrumbs.less';

/* index.html */

@import './_index.less';

/* blog.html */

@import './_blog.less';

/* category.html */

@import './_category.less';

/* single.html */

@import './_single.less';

/* contacts.html */

@import './_contacts.less';

/* prices.html */

@import './_prices.less';

/* services.html */

@import './_services.less';

/* trainers.html */

@import '_trainers.less';

/* schedule.html */

@import '_schedule.less';